*{
    background-color:rgb(255, 255, 255)
}

h1{
    font-size: 100px;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-family: 'Space Mono', monospace;

}

.body{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    
}
.largeBox{
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(170, 170, 170);
    border: 3px black solid;
    
}
.display{
    border: 3px solid black;
    background-color: rgb(170, 170, 170);
    margin: 10px 20px;
    border-radius: 5px;
    text-align: right;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    height:60px
    
    
    
}
.lastInput{
    font-size: 15px;
}
.currentInput{
    font-size: 25px;
    
    
    
}

#divideBtn{
    background-color:palevioletred;
}
#multiplyBtn{
    background-color:palevioletred;
}
#addBtn{
    background-color:palevioletred;
}
#subtractBtn{
    background-color:palevioletred;
}
#equalBtn{
    background-color:palevioletred;
}
#clearBtn{
    background-color:palevioletred;
}

button{
    width: 20%;
    padding:30px;
    margin:5px;
    border-radius: 10px;
    border-color: black;
    background-color:white

}
.deleteBtn{
   padding: 30px 22px;
}
.clearBtn{
    padding-right:250px;
    
}
.equalBtn{
    padding-left: 40px;
    padding-right: 40px;
}
